<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Project</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header>
        Upload Project Here
    </header>
    <main>
        <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{form.project_filename_label}}
        {{form.project_file()}}
        <br>
        <br>
        {{form.submit}}
        </form>
        <br>
        <a href="{{ url_for("freelancer_bp.dashboard")}}">
            <button type="button">Back</button>
        </a>
    </main>
</body>
</html>