<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer Profile</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header>
        <h1>{{ current_user.username }}'s Profile</h1>
    </header>
    <main>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{form.full_name.label}}
            {{form.full_name() }}
            <br>
            <br>
            {{form.Bio.label}}
            {{form.Bio() }}
            <br>
            <br>
            {{form.skills.label}}
            {{form.skills() }}
            <br>
            <br>
            {{form.experience.label}}
            {{form.experience() }}
            <br>
            <br>
            {{form.education.label}}
            {{form.education() }}
            <br>
            <br>
            {{form.hourly_rate.label}}
            {{form.hourly_rate() }}
            <br>
            <br>
            {{form.country.label}}
            {{form.country() }}
            <br>
            <br>
            {{form.city.label}}
            {{form.city() }}
            <br>
            <br>
            {{form.linkedin.label}}
            {{form.linkedin() }}
            <br>
            <br>
            {{form.portfolio.label}}
            {{form.portfolio() }}
            <br>
            <br>
            {{form.github.label}}
            {{form.github() }}
            <br>
            <br>
            {{form.submit()}}
        </form>
    </main>
</body>
</html>