<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header>
        <h1>Login Account</h1>
    </header>
    <main>
        <form method="POST">
            {{ form.hidden_tag() }}

            <p>
                {{ form.email.label }}<br>
                {{ form.email() }}
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password() }}
            </p>

            <p>
                {{ form.remember.label }}
                {{ form.remember() }}
            </p>

            <p>
                {{ form.submit() }}
            </p>
        </form>
    </main>
</body>
</html>