<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header><h1> Order Details <h1></header>
    <main>
        {% if order %}
            <div>
                <h3> Company Name :- {{order.client.company_name}}</h3>
                <p> Service :- {{order.service.title}}</p>
                <p> Price :- {{order.service.price}}</p>
                <p> Status :- {{order.status}}</p>
                <p> Ordered On :- {{order.ordered_at}}</p>
                <a href="{{ url_for("freelancer_bp.accept_order" , order_id=order.id)}}">
                    <button>Accept</button>
                </a>
                <a href="{{ url_for("freelancer_bp.reject_order" , order_id=order.id)}}">
                    <button>Reject</button>
                </a>
                <a href="{{ url_for("freelancer_bp.completed" , order_id=order.id)}}">
                    <button>Mark As Completed</button>
                </a>
                    <a href="{{ url_for("freelancer_bp.deliver" , order_id = order.id)}}">
                    <button>deliver Project</button>
                </a>
                <hr>
            </div>
        {% endif %}
    </main>
</body>
</html>