<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header>
        <h1> Create Account</h1>
    </header>
    <main>
        <form method="POST">
            {{ form.hidden_tag() }}

            <p>
                {{ form.username.label }}<br>
                {{ form.username() }}
            </p>

            <p>
                {{ form.email.label }}<br>
                {{ form.email() }}
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password() }}
            </p>

            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password() }}
            </p>

            <p>
                {{ form.role.label }}<br>
                {{ form.role() }}
            </p>

            <p>
                {{ form.submit() }}
            </p>
            <br>
        </form>
            <p>Already Have An Account!</p>
            <a href="/auth/login">
                <button type="submit"> Login </button>
            </a>
    </main>
</body>
</html>