<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Order</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header>
        <h1>Review Order</h1>
    </header>
    <main>
        <form method="POST">
            {{ form.hidden_tag() }}

            <p>
                {{ form.rating.label }}<br>
                {{ form.rating() }}
            </p>

            <p>
                {{ form.comment.label }}<br>
                {{ form.comment(rows=5 ,cols=50) }}
            </p>

            <p>
                {{ form.submit() }}
            </p>
        </form>
            <a href="{{url_for("Client.my_orders")}}">
                <button type="submit"> Back </button>
            </a>
    </main>
</body>
</html>