<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header><h1>Service Detail<h1></header>
    <main>
        <p><h3>Freelancer Name :- {{service.freelancer.full_name}}</h3></p>
        <p><h3>Bio :- {{service.freelancer.bio}}</h3></p>
        <p><h3>hourly_rate :- {{service.freelancer.hourly_rate}}</h3></p>
        <p><strong>Title :- {{service.title}}</strong></p>
        <p>Description :- {{service.description}}</p>
        <p>Price :- {{service.price}}</p>
        <p>Delivery Time :- {{service.delivery_time}} Days </p>
        <a href="/client/dashboard">
            <button>Back</button>
        </a>
        <a href="{{ url_for("Client.hire" , service_id=service.id )}}">
            <button>Hire Now</button>
        </a>
    </main>
</body>
</html>